@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway/RalewayBold/Raleway-Bold.eot');
    src: url('../fonts/Raleway/RalewayBold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/RalewayBold/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway/RalewayBold/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway/RalewayBold/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway/RalewayBold/Raleway-Bold.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/Raleway/RalewayRegular/Raleway-Regular.eot');
    src: url('../fonts/Raleway/RalewayRegular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway/RalewayRegular/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway/RalewayRegular/Raleway.woff') format('woff'),
    url('../fonts/Raleway/RalewayRegular/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway/RalewayRegular/Raleway.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}